@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img { 
  margin-top: 40px;
  padding: 30px; 
  display: flex;
  height: 90vh;
  width: 90vw;
  background-image: url('../../img/fax.png');
  background-size: cover;
  opacity: 0.25;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: bold;
}

.txt {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  top: 50%;
  left: 50%;
  margin: 1rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
  mix-blend-mode: multiply;

}

.sub-title {
  font-size: 1.5rem;
  font-family: 'Robot', sans-serif;
}

.body-txt {
  font-size: 1rem;
  font-family: 'Robot', sans-serif;
}
